name: Test and build

on:
  pull_request:
  push:

jobs:
  build:
    name: Test and build

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Test
        run: mvn test
        
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: target/*.jar

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: target/*.jar    
